<div class="about-container">
  <div class="content-container">
    <p class-"about"><h2>Built with the following :</h2> </p>
      <p id="lang">
        <p class="js">Javascript</p>
        <p class="angular">AngularJS</p>
        <p class="node">NodeJS</p>
        <p class="massive">MassiveJS</p>
        <p class="passport">PassportJS</p>
        <p class="express">ExpressJS</p>
        <p class="sql">SQL<span> | </span></p>
      </p>
      <p class="creator"><h4>Created by Jonathan Crook</h4></p>
  </div>
</div>
