<div class="jumbotron-container">
    <div style="background:transparent !important" class="jumbotron">
        <h1 class="line-1 animation-type">ERGOJON</h1>
        <p class="intro">A messaging/chat app to chat with friends<span> | </span></p>
        <div class="buttons-container">
            <p><a ui-sref="signup" class="btn btn-primary btn-lg" id="signup-btn" role="button">Sign Up</a></p>
            <p><a ui-sref="login" class="btn btn-primary btn-lg" id="login-btn" role="button">Log In</a></p>
        </div>
    </div>
</div>
