/*GLOBAL*/

@media all and (max-width: 550px) {
  .friends-container ul {
    margin-right: 15px;
  }
}

@media all and (max-width: 550px) {
  .sidebar-content h4 {
    font-size: 15px;
  }
}


@media all and (max-width: 500px) {
  .sidebar-nav-header h4 {
    font-size: 12px;
  }
}

@media all and (max-width: 500px) {
  .sidebar {
    font-size: 10px;
  }
}

@media all and (max-width: 500px) {
  .footer-content {
    font-size: 10px;
  }
}

@media all and (max-width: 500px) {
  .friendsListComponent-container {
    width: 22%;
  }
}

@media all and (max-width: 500px) {
  .chat-starter-container h2 {
    font-size: 15px;
  }
}

@media all and (max-width: 500px) {
  .chat-starter-container h3 {
    font-size: 12px;
  }
}

@media all and (max-width: 500px) {
  .navbar-header {

  }
}

@media all and (max-width: 500px) {
  .jumbotron h1 {
    font-size: 50px;
  }
}

@media all and (max-width: 500px) {
  .jumbotron p {
    font-size: 15px;
  }
}


html {
}

body {
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("images/matrix.jpg") center center no-repeat;
  background-size: cover;
}

a {
  text-decoration: underline;
}

/*SIDEBAR FOLDER*/

h2 {
  padding: 0 0 25px 0;
}

.sidebar-nav-header {
  padding: 20px 0 0 0;
}

.footer-content::first-letter {
  text-transform: uppercase;
}

.logoutButton {
  cursor: pointer; cursor: hand;
}

.chats {
  cursor: pointer; cursor: hand;
}

/*FRIENDSLIST FOLDER*/

.users {
  cursor: pointer; cursor: hand;
}

/*MESSAGELIST FOLDER*/

.message-list {
  padding: 10px;
}

.message-profile-img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.message-profile-img img {
  width: auto;
  height: 100%;
  vertical-align: baseline;
}

.message-container {
  display: inline-block;
}

.message-timestamp {
  font-size: 1rem;
  font-weight: 200;
}

.message-sender {
  font-size: 1rem;
  font-weight: 200;
  text-transform: capitalize;
}

.message-container::first-letter {
  text-transform: capitalize;
}

/*MESSAGE FOLDER*/

.message-form {
  text-align: center;
}

.message-box {
  width: 95%;
  height: 40px;
  border: 3px solid white;
  border-radius: 5px;
  background: transparent !important;
  color: white;
}

/*MAIN CHAT FOLDER*/

/*MAIN COMPONENT CONTAINER*/

.component-container {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  /*height: 300px;*/
  /*border-color: black;
  border-style: solid;*/
  margin-top: -20px;
  font-family: 'Orbitron', sans-serif;
  height: calc(100vh - 60px);
}

.sidebarComponent-container {
  background: transparent !important;
  width: 20%;
  border-color: #272b30;
  border-radius: 5px;
  height: 100%;
  color: white;
  height: 100%;
}

.friendsListComponent-container {
  width: 20%;
  color: white;
  text-transform: capitalize;
}

.messageComponent-container {
  height: calc(100% - 90px);
  overflow-y: scroll;
  overflox-x: hidden;
  color: white;
}

.messageFormComponent-container {
  margin: 25px 0 0 0;
}

.mainMessageComponent-container {
  width: 100%;
  height: 100%;
}

/*MAIN HOME PAGE*/

.navbar-brand {
  color: white;
}

.jumbotron-container {
  text-align: center;
  margin-top: 150px;
}

.jumbotron {
  color: white;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#signup-btn {
  margin-right: 20px;
  background: transparent !important;
  border-color: white;
}

#login-btn {
  margin-left: 20px;
  background: transparent !important;
  border-color: white;
}

.navbar-custom {
  background: transparent;
  border-color: transparent;
  height: 60px;
  font-family: 'Orbitron', sans-serif;
}

.line-1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 75px;
  position: relative;
  top: 25%;
  width: 100%;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(100, end);
}

.intro {
  font-family: 'Orbitron', sans-serif;
  animation: type2 4s steps(80, end);
  /*position: relative;*/
  top: 25%;
  width: 100%;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.intro span {
  animation: blink 1s infinite;
}

@keyframes type {
  from{width: 0;}
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{width: 100;}
}

@keyframes blink {
  to{opacity: .0;}
}

.navbar-brand {
  font-size: 25px;
  margin-top: 4px;
}

#nav-white {
  color: white;
}

.profile {
  font-size: 16px;
  margin-top: 4px;
}

.about {
  font-size: 16px;
  margin-top: 4px;
}

/*SIGNUP PAGE*/

.signUp-form {
  font-family: 'Orbitron', sans-serif;
  color: white;
  margin-top: 100px;
  height: 73vh;
}

.signUp-content {
  width: 50%;
}

.btn-default {
  background: transparent !important;
  color: white;
  margin-top: 10px;
  text-decoration: underline;
}

.btn-default:hover {
  color: white;
}

#inputName1 {
  background: transparent !important;
  color: white;
}

#inputEmail1 {
  background: transparent !important;
  color: white;
}

#inputPassword1 {
  background: transparent !important;
  color: white;
}

/*LOGIN PAGE*/

.inputForm-container {
  margin-top: 150px;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.checkbox {
  margin-top: -15px;
}

.btn-default1 {
  background: transparent !important;
  color: white;
  border-color: white;
  text-decoration: underline;
}

.btn-default1:hover {
  color: white;
}

#inputEmail3 {
  background: transparent !important;
  border-color: white;
  color: white;
  margin-bottom: 20px;
}

#inputPassword3 {
  background: transparent !important;
  border-color: white;
  color: white;
  margin-bottom: 20px;
}

/*CHAT STARTER */

.chat-starter-container img {
  width: 50px;
}

.chat-starter-container {
  color: white;
  text-transform: capitalize;
}

.btn-xs {
  background: transparent !important;
  border-color: white;
}
/*ABOUT PAGE*/
.about-container {
  margin-top: 50px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: white;
}

.creator {
  margin-top: 20px;
}

.bootstrap {
font-family: 'Orbitron', sans-serif;
animation: type2 2s steps(80, end);
/*position: relative;*/
top: 25%;
width: 25em;
margin: auto;
text-align: center;
white-space: nowrap;
overflow: hidden;
}

.js {
font-family: 'Orbitron', sans-serif;
animation: type2 3s steps(80, end);
/*position: relative;*/
top: 25%;
width: 25em;
margin: auto;
text-align: center;
white-space: nowrap;
overflow: hidden;
}

.angular {
  font-family: 'Orbitron', sans-serif;
  animation: type2 4s steps(80, end);
  /*position: relative;*/
  top: 25%;
  width: 25em;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.sockets {
  font-family: 'Orbitron', sans-serif;
  animation: type2 5s steps(80, end);
  /*position: relative;*/
  top: 25%;
  width: 25em;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.node {
  font-family: 'Orbitron', sans-serif;
  animation: type2 6s steps(80, end);
  /*position: relative;*/
  top: 25%;
  width: 25em;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.massive {
  font-family: 'Orbitron', sans-serif;
  animation: type2 7s steps(120, end);
  /*position: relative;*/
  top: 25%;
  width: 25em;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.passport {
  font-family: 'Orbitron', sans-serif;
  animation: type2 8s steps(120, end);
  /*position: relative;*/
  top: 25%;
  width: 25em;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.express {
  font-family: 'Orbitron', sans-serif;
  animation: type2 9s steps(80, end);
  /*position: relative;*/
  top: 25%;
  width: 25em;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.sql {
  font-family: 'Orbitron', sans-serif;
  animation: type2 10s steps(80, end);
  /*position: relative;*/
  top: 25%;
  width: 25em;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.sql span {
  animation: blink 1s infinite;
}

.expand{
  margin-top: 100px;
  animation: margin-shift;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
}

@keyframes margin-shift {
  0% {
    margin-top: 0
  }
  100% {
    margin-top: 100px;
  }
}
